


.homepage {
    h1{
        background-color: aqua;
    }
 

    .playlists-homepage-container{
        display: grid;
        grid-template-columns: auto;
        // height: 250px;
        grid-gap:24px;
        background-color: green;
    }
}