.app-footer {

    background-color: grey;
    display: flex;
    align-items: center;
    // justify-content: center;
    // @include flex-center;
    height: 5.625rem;
    width: 100%;
    padding: 0 16px;
    position: fixed;
    bottom: 0;

    .song-player-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // width: 100%;
        flex: 1;
        height: 100%;
        
        .song-player-controls {
            display: flex;
            width: 100%;
            // flex-grow: 1;
            align-items: center;
            justify-content: center;
            gap: 16px;
            height: 32px;
            padding-bottom: 8px;
            
            .song-player-left {
                >* {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 32px;
                    height: 32px;
                }
                display: flex;
                gap: 8px;
            }
            
            .song-player-right {
                    >* {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 32px;
                        height: 32px;
                    }
                display: flex;
                gap: 8px;
            }
        }
        .song-time-slider{
            width: 405px;
            font-size: 11px;
            @include flex-center;
            gap: 8px;
            height: 18px;
        }
    }

    .app-footer-volume {
        display: flex;

        .volume-container {
            @include flex-center
        }
    }

    .curr-song{
        width: 375px;
        height: 90px;
        background-color: aqua;

        .curr-song-container{
            display: flex;
            width: 375px;
            height: 90px;
            align-items: center;
            justify-content: flex-start;
            gap:16px;

            .curr-song-img{
                height: 90px;
            }
        }

    }
}