.app-footer {

    color: $clr-white-F;
    background-color: $clr-black-18 ;
    display: flex;
    align-items: center;
    grid-area: app-footer;
    height: 85px;
    padding: 0 8px;
    z-index: 15;

    .song-player-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // width: 100%;
        flex: 1;
        height: 100%;
        
        .song-player-controls {
            display: flex;
            width: 100%;
            // flex-grow: 1;
            align-items: center;
            justify-content: center;
            gap: 16px;
            height: 32px;
            padding-bottom: 8px;
            
            .song-player-left {
                >* {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 32px;
                    height: 32px;
                }
                display: flex;
                gap: 8px;
            }
            
            .song-player-right {
                    >* {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 32px;
                        height: 32px;
                    }
                display: flex;
                gap: 8px;
            }
        }
        .song-time-slider{
            width: 405px;
            font-size: 11px;
            @include flex-center;
            gap: 8px;
            height: 18px;
        }
    }

    .app-footer-volume {
        display: flex;
        width: calc(30% - 16px);
        align-items: center;
        justify-content: flex-end;
        padding-inline-end: 16px;
        
        .volume-container{
            // padding-inline-start: 12px;
            margin-right: 16px;
        }
    }

    .curr-song{
        width: 30%;
        // height: 90px;
        display: flex;

        .curr-song-container{
            display: flex;
            width: 375px;
            // height: 90px;
            align-items: center;
            justify-content: flex-start;
            gap:16px;

            .curr-song-img{
                // height: 90px;
                display: flex;
                align-items: center;
            }
        }

    }
}