


.app-menu-container {
	display: flex;
	flex-direction: column;
	z-index: 10;
	width: 338px;
	background-color: rgba(101, 161, 101, 0.747);
	position: fixed;
	height: 100%;
	transition: 0.4s;
	right: 0;
	top: 0;
	overflow-y: auto;

	.menu-hr{
		width: 314px;
	}

	.menu-header {
		height: 48px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #172b4d;
		padding-top: 12px;

		.menu-title {
			font-size: rem(16px);
			line-height: em(20px, 16px);
			font-weight: 500;
		}
		
		.closebtn {
		
			background-color: transparent;
			width: 42px;
			height: 42px;
			padding: 12px;
			position: absolute;
			right: 0;
			font-size: 16px;

			@include flex-center;
		}

		.go-back {
			position: absolute;
			left: 0px;
			width: 42px;
			height: 42px;
			@include flex-center;
			background-color: transparent;

			.fa-angle-left{
				font-size: 16px;
			}
		}
	}

	// .forum-subject{
	// 	@include flex-center;
	// 	flex-direction: column;

	// 	.subject-name{
	// 		margin: 0;
	// 		padding: 12px 0;
	// 	}
	// }


	hr{
		width: 100%;
		margin: 0;	
	}
}