.app-header-container {
    grid-area: app-header;
    @include flex-center;
    padding-inline-start: 8px;
    background-color: $clr-black-000 ;
    color: $clr-white-F;
    width: 100vw;
    position: fixed;
    top: 0;
    padding: 8px;

    .header-logo {
        @include flex-center;
        gap: 8px;
        width: 180px;
        font-size: 20px
    }

    .header-home-search {
        @include flex-center;
        gap: 16px;
        width: 100%;

        .header-home-btn {
            padding: 10px;
            // height: 28px;
            // width: 28px;
            border-radius: 50%;
            background-color: $clr-black-grey;
            // background-position: center center;
            // background-repeat: no-repeat;
            // background-size: cover;

        }


        .header-search-container {
            box-sizing: border-box;
            // border: 1px solid rgba(255, 255, 255, 0.292);
            // background-color: $clr-blk-gry;
            display: flex;
            border-radius: 50px;
            width: 440px;
            height: 48px;

            &:hover {
                background-color: $clr-black-000;

                .fa-magnifying-glass {
                    color: $clr-white-F;
                }
            }


            .label-search {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: 8px;
                flex: 1;
                font-size: 14px;
                color: $clr-search-grey;

                ::placeholder {
                    /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: $clr-search-grey;
                    // opacity: 1; /* Firefox */
                }

                &:focus-within {
                    // background-color: white;
                    outline: none;
                    // color: $clr-text-group;
                }

                .header-search {
                    &:focus {
                        // box-shadow: 0 0 0 2px #fff;
                        border-radius: 50px;
                        outline: none;

                    }

                    border: none;
                    background: transparent;
                    height: 32px;
                    width: 100%;
                }

                .fa-magnifying-glass {
                    @include flex-center;
                    padding-right: 4px;
                }
            }
        }
    }
    .no-user-header{
        @include flex-center;
        gap: 8px;
        padding-right: 16px;
        // flex-direction: column;
    }

    .user-logo-container{
        @include flex-center;
        gap: 16px;
        margin-right: 32px;
        padding:1px 8px 1px 2px;
        background-color: $clr-opacity-user;
        border-radius: 15px;
    }
}