.main-menu-container {
	grid-area: menu;
	background-color: $clr-black-12;
	color: $clr-text-grey;
	display: flex;
	flex-direction: column;
	margin-left: 8px;
	border-radius: 8px;
	// z-index: 10;
	// width: 200px;
	// transition: 0.4s;

	&.show {
		right: 0;
	}

	.menu-link {
		text-decoration: none;
		color: $clr-text-grey;
		height: 40px;
		padding: 0 16px;
		display: flex;
		align-items: center;
		gap: 16px;
		font-family:font-circ-bold ;

	}

	.menu-pic {
		svg{
			fill:$clr-text-grey;
		}
	}

}