.station-header-container {
    display: flex;
    align-items: flex-end;
    height: 290px;
    padding-block-end: 25px;
    padding-inline-start: 32px;
    color: $clr-white-F;
    gap: 16px;
    transform: 90deg;
    background: linear-gradient(#4A3591, #2A1F52);
    border-radius: 8px 0 0 0;

    .station-header-img {
        height: 232px;
        box-shadow: 0px 0px 65px -5px rgba(0, 0, 0, 0.69);
    }

    .station-header-deatails {
        display: flex;
        flex-direction: column;

        .station-header {
            font-size: 96px;
            margin: 0;
            padding: 8px 0 12px 0;
        }

        .playlist {
            font-size: 12px;
            margin: 0;
            padding-top: 4px;
        }

    }
}