@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin for-laptop-layout {
	@media (max-width: 1200px) {
		@content;
	}
}

@mixin  for-laptop-narrow-layout {
	@media (max-width: 1000px) {
		@content;
	}	
}


@mixin for-tablet-layout {
	@media (max-width: 767px) {
		@content;
	}
}


@mixin for-mobile-layout {
	@media (max-width: 480px) {
		@content;
	}
}
