// @font-face {font-family: "Charlie Text Thin"; src: url('./fonts/charlie-text.woff')}
// @font-face {font-family: "Charlie"; src: url('./fonts/Charlie.otf')}
// @font-face {font-family: "Charlie-text-reg"; src: url('./fonts/CharlieText-Regular.ttf')}
// @font-face {font-family: "Charlie-display-reg"; src: url('./fonts/CharlieDisplay-Regular.ttf')}
// @font-face {font-family: "Charlie-display-semi-bold"; src: url('./fonts/CharlieDisplay-Semibold.ttf')}
// @font-face {font-family: "Charlie-text-semi-bold"; src: url('./fonts/CharlieText-Semibold.ttf')}
// @font-face {font-family: "Charlie-text-bold"; src: url('./fonts/CharlieText-Bold.ttf')}
// @font-face {font-family: "sf-display-reg"; src: url('./fonts/SFUIDisplay-Regular.otf')}
// @font-face {font-family: "sf-display-reg"; src: url('./fonts/SFUIText-Regular.otf')}



@font-face {font-family: "font-circ-bold"; src: url('./fonts/CircularStd-Bold.otf')}
@font-face {font-family: "font-circ-heb"; src: url('./fonts/VarelaRound-Regular.otf')}
