// $clr1: #091e42;
// $clr2: #0065ff;
// $clr3: rgb(235, 236, 240);
// $clr4: #5e6c84;
// $clr5: #172b4d;
// $clr-btn-color: #0079bf;
// $clr-user-icon: #de350b;
// $clr-btn: rgba(9, 30, 66, 0.04);
// $clr-text-group: rgb(23, 43, 77);
// $clr-text-add-task: #6b778c;
// $clr-task-details-bg: rgb(244, 245, 247);
// $clr-btn-details: rgb(235, 236, 240);
// $clr-btn-text: #0000ee;
// $clr-small-text: #5e6c84;
// $clr-btn-hover: rgba(10, 31, 66, 0.078);
// $clr-icon: rgb(66, 82, 110);
// $clr-date-finish: #61bd4f;


$clr-black-12 : #121212;
$clr-white-F : #FFFFFF;
$clr-text-grey : #B3B3B3;
$clr-search-grey : #757575;
$clr-blk-gry:#242424;
$clr-hover-search: #2a2a2a;
$clr-green-play:#1fdf64;