.narrow-card-container {
    // @include flex-center;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: hsla(0,0%,100%,.1);
    border-radius: 8px;
    gap: 16px;


    .narrow-card-img{
        height: 5rem;
        width: 5rem;
        justify-self: flex-start;
        border-radius:8px;
    }

    h3 {
        margin: 0;
        font-size: 1rem;
    }
    
    .play-btn-narrow-card{
        display: flex;
        flex: 1;
        justify-content: flex-end;
        // justify-self: flex-end;
        visibility: hidden;
        padding: 0 16px;
    }
    
    &:hover{
        .play-btn-narrow-card{
            visibility: visible;
        }      
    }
}