.subject-container {


    .subject-name {
        @include flex-center;
        gap: 8px;
        width: 100%;
        margin: 0;
        padding: 12px 0;
        text-decoration: underline 2px ;
    }

    .cluster-container {
        gap: 8px;
        @include flex-center;
        flex-direction: column;
        
        
        .cluster-name {
            width: 100%;
            margin: 0;
            padding: 12px;
        }
    }


}