.selected-msg-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    box-sizing: border-box;


    .msg {
        max-width: 55%;
        overflow-wrap: break-word;
        padding: 6px;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    .by {
        color: rgb(130, 194, 128);
        font-size: 12px;
    }

    .sent-at {
        align-self: flex-end;
        color: rgba(5, 12, 18, 0.54);
        font-size: 12px;
        min-width: 80px;
    }

    .selected-question {
        // background-color: rgba(255, 0, 0, 0.5);
        background-color: #ef6b32;
    }


    .msg-container {
        display: flex;
        gap: 6px;
        align-items: center;
        overflow-wrap: break-word;
    }


    .ans-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 6px;
        overflow-y: auto;
        max-height: 560px;

        .by-curr-user {
            align-self: flex-start;
            width: 100%;
        }

        .answer-like-div {
            height: 100%;
            visibility: hidden;
            @include flex-center;
            flex-direction: column;

            .likes-length{
                justify-self: flex-end;
                font-size: 10px;
            }
        }

        :hover {
            .answer-like-div {
                visibility: visible;
                cursor: pointer;
            }
        }

        .answer-container {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            align-items: center;
            gap: 8px;
        }

        .answer {
            background-color: rgba(0, 0, 255, 0.502);
            overflow-wrap: break-word;
        }

        .by-user {
            align-self: flex-start;
            background-color: rgba(137, 43, 226, 0.375);
        }
    }

    .filter-by-msg {
        // padding:  6px 12px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 12px;
        font-size: 14px;
        color: $clr-white-F;

        .switch-msg{
            @include flex-center;
            gap:3px;
        }
    }
}



.msg {}